<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Create new Password</h1>


    <table align="center" border="1">


        <form method="POST">


            {% csrf_token %}

            <tr>
                <th>Password</th>
                <td><input type="password" name="password"></td>
            </tr>

            <tr>
                <th>Confirm Password</th>
                <td><input type="password" name="confirmpassword"></td>
            </tr>

            <tr>
                <th colspan="2" align="center"><input type="submit" value="submit"></th>
            </tr>

        </form>

    </table>


</body>
</html>