<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Register</h1>

    <table align="center" border="1">

        <form action="" method="POST">

            {% csrf_token %}

            <tr>
                <th>First Name :</th>
                <td> {{ form.first_name }} </td>
            </tr>

            <tr>
                <th>Last Name :</th>
                <td>{{ form.last_name }}</td>
            </tr>

            <tr>
                <th>Username :</th>
                <td>{{ form.username }}</td>
            </tr>

            <tr>
                <th>Email :</th>
                <td>{{ form.email }}</td>
            </tr>

            <tr>
                <th>Password :</th>
                <td>{{ form.password }}</td>
            </tr>

            <tr>
                <th>Confirm Password :</th>
                <td>{{ form.confirmPassword }}</td>
            </tr>

            <tr>
                <th colspan="2" align="center"><input type="submit" value="submit"></th>
            </tr>

        </form>


    </table>

    <h3 align="center"><a href="/login">Login</a></h3>

</body>
</html>