<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Users</h1>

    <table align="center" border="1">

        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Is Staff</th>
            <th>Edit</th>
        </tr>

        {% for x in data %}

        <tr>
            <td>{{ x.first_name }}</td>
            <td>{{ x.last_name }}</td>
            <td>{{ x.username }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.is_staff }}</td>
            <td><a href="/users/update/{{ x.id }}">Edit</a></td>
        </tr>

        {% endfor %}
    </table>



</body>
</html>